<p style="color: green"><%= notice %></p>

<p>
  <%= link_to "Back to notes", notes_path %>
</p>

<div class="note-detail">
  <%= render @note %>
</div>

<% if @referencing_notes.any? %>
  <div class="referencing-notes">
    <h2>Referenced by</h2>
    <%= render @referencing_notes %>
  </div>
<% end %>
